langchain
langchain_text_splitters
langchain_community
langchain_openai
langchain_groq
langchain_huggingface
qdrant-client
pypdf
unstructured
sentence-transformers
streamlit
langchain_qdrant
ragas
datasets
reportlab>=4.0.0
python-dotenv
markdown