streamlit
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-openai
qdrant-client
langchain-qdrant
langchain-huggingface
sentence-transformers
rank-bm25
beautifulsoup4
pypdf
python-dotenv
markdown
pydantic